body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    /*width: 80%;
    margin: 0 auto;
    display: block;
    */

    width: 1150px;
    margin: 0 auto;
    padding: 20px;
    display: block;
  }
  
  #photo{
    width: 200px;
    height: 270px;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    float: left;
  }

  #info{
    width: 855px;
    height: 270px;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    float: right;
  }
  #about {
    width: 1110px;
    height: 150x;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    float:inline-start;
  }

  #contact {
    width: 1110px;
    height: 150x;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    float:inline-end;
  }
  
  section h2 {
    color: #333;
  }
  
  section p {
    line-height: 1.5;
  }
  .page-photo {
    width: 200px;
    height: 300px;
    overflow: hidden; /* Обрезает изображение, чтобы оно не выходило за пределы круга */
  }
  
  .page-photo img {
    width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }

  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }

  form {
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }